<form [formGroup]="searchTaskForm" class="search-form">
    <mat-form-field appearance="outline" class="search-input">
        <mat-label>Enter Keyword to search</mat-label>
        <input (input)="submitForm()" formControlName="title" matInput>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</form>

<div class="task-list">
    <mat-card *ngFor="let task of listOfTasks" class="task-card">
        <div class="task-details">
            <h1 class="task-projectName">{{ task.projectName }}</h1>
            <h2 class="task-name">{{ task.title }}</h2>
            <p class="task-description">{{ task.description }}</p>

            <mat-divider></mat-divider>
            <div class="task-info">
                <div class="info-row">
                    <span class="info-label">Due Date:</span>
                    <span class="info-value">{{ task.dueDate | date: 'MMM d, y' }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Employee:</span>
                    <span class="info-value">{{ task.employeeName }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Priority:</span>
                    <span class="info-value">{{ task.priority }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Status:</span>
                    <span class="info-value status-button">
                        <button [ngStyle]="{'background-color': getButtonColor(task.taskStatus)}"
                                mat-raised-button>{{ task.taskStatus }}</button>
                    </span>
                </div>
            </div>

            <mat-divider></mat-divider>
            <div class="actions">
                <button class="view-button" color="accent" mat-icon-button
                        routerLink="/admin/task-details/{{ task.id }}">
                    <mat-icon>visibility</mat-icon>
                </button>
                <a [routerLink]="'/admin/task/' + task.id + '/edit'" class="update-button" color="primary"
                   mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </a>
                <button (click)="deleteTask(task.id)" class="delete-button" color="warn" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
</div>
