<mat-toolbar class="navbar" color="primary">
    <img alt="TaskFlow Logo" class="logo" routerLink="/" src="../assets/logo.png"/>
    <span class="spacer"></span>
    <ng-container *ngIf="!isEmployeeLoggedIn && !isAdminLoggedIn">
        <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
        <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
    </ng-container>
    <ng-container *ngIf="isAdminLoggedIn">
        <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
        <button mat-button routerLink="/admin/task/post" routerLinkActive="active">Post Task</button>
        <button (click)="logout()" mat-button routerLinkActive="active">Logout</button>
    </ng-container>
    <ng-container *ngIf="isEmployeeLoggedIn">
        <button mat-button routerLink="/employee/dashboard" routerLinkActive="active">Dashboard</button>
        <button (click)="logout()" mat-button routerLinkActive="active">Logout</button>
    </ng-container>
    <button (click)="toggleDarkMode()" mat-icon-button>
        <mat-icon>{{ isDarkMode ? 'brightness_7' : 'brightness_4' }}</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>
